# Dplyr Exercises
### Perform the following operations using only the dplyr library. We will be reviewing the following operations:

- filter() (and slice())
- arrange()
- select() (and rename())
- distinct()
- mutate() (and transmute())
- summarise()
- sample_n() and sample_frac()

In [10]:
library(dplyr)

##### We will use the mtcars dataframe for this exercise!

In [11]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

##### Return rows of cars that have an mpg value greater than 20 and 6 cylinders.

In [14]:
mtcars %>% 
    filter(mpg > 20 & cyl == 6)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

##### Reorder the Data Frame by cyl first, then by descending wt.

In [16]:
mtcars %>% 
    arrange(cyl, desc(wt)) %>% 
    head()

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
2 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
3 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
4 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
5 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
6 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1

##### Select the columns mpg and hp

In [19]:
mtcars %>% 
    select(mpg, hp) %>% 
    head()

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105

##### Select the distinct values of the gear column.

In [20]:
mtcars %>% 
    distinct(gear)

  gear
1 4
2 3
3 5

##### Create a new column called "Performance" which is calculated by hp divided by wt.

In [21]:
mtcars %>% 
    mutate(Performance = hp / wt)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb Performance
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    41.98473
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    38.26087
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    40.08621
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    34.21462
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    50.87209
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    30.34682
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    68.62745
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    19.43574
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    30.15873
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    35.75581
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    35.75581
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    44.22604
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    48.25737
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    47.61905
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    39.04762
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    39.63864
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    43.03087
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    30.00000
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    32.19814
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    35.42234
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    39.35091
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    42.61364
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    43.66812
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    63.80208
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    45.51365
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    34.10853
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    42.52336
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    74.68605
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    83.28076
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    63.17690
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    93.83754
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    39.20863

##### Find the mean mpg value using dplyr.

In [23]:
mtcars %>% 
    summarise(avg_mpg = mean(mpg))

  avg_mpg
1 20.09062

##### Use pipe operators to get the mean hp value for cars with 6 cylinders.

In [27]:
mtcars %>% 
    filter(cyl == 6) %>% 
    summarise(avg_hp = mean(hp))

  avg_hp
1 122.2857